/* CCS reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
}

* li {
    list-style-type: none;
}

html {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    background: #eceef1;
}
 
footer a {
    color: #333;
    text-decoration: none;
  } 

  /* Debug */

/* .debug{
    border: 1px solid #000;
} */

.main-container {
    
}

/* Navbar section */

.navbar-container {
    padding: 10px 30px;
    height: 60px;
    display: block;
}

.buttom-container{
    margin-left: 10px
}

.responsive-signup-text{
    display: none;
}

/* Header Logo */
.logo-container{
    width: 118px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.logo-anchor{

}



.logo-mint{
    background-position-x: -250px;
    background-position-y: 35px;
    width: 31px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.wordmark-mint{
    background-position-x: -280px;
    background-position-y: 35px;
    width: 40px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.logo-quickbooks{
    background-position-x: -110px;
    background-position-y: 35px;
    width: 31px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.wordmark-quickbooks{
    background-position-x: -140px;
    background-position-y: 35px;
    width: 106px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.logo-turbotax{
    background-position-x: 0px;
    background-position-y: 35px;
    width: 25px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

.wordmark-turbotax{
    background-position-x: -25px;
    background-position-y: 35px;
    width: 80px;
    height: 35px;
    background-image: url("/images/ecosystem_logos_new.png");
}

/* Padding rules */

.vpadding-20px{
    padding: 20px 0;
}

 /* Margin rules */

 .margin-hcenter{
     margin: 0 auto;
 }

 .margin-vbottom-15px{
     margin-bottom: 15px;
 }

 .margin-vbottom-30px{
     margin-bottom: 30px;
 }

 /* Flex rules  */

 .display-flex {
     display: flex;
 }

 .display-flex-column {
     display: flex;
     flex-direction: column;
 }

/* Justify CSS */

.text-align-center{
    text-align:center; 
}

.justify-right{
    display: flex;
    justify-content: flex-end;
}
.justify-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Elements rules */

.buttom-style{
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: #ffff;
    cursor: pointer;
    padding: 0 20px;
    font-size: 1.125em
}

/* Height values */

.height-34{
    height: 34px;
}

/* width rules  */

.width-fit-content {
    width: fit-content;
}

.width-380px {
    width: 380px;
}

/* Padding rules */

.padding-30px {
    padding: 30px;
}

.padding-top-20px{
    padding-top: 20px
}

.padding-bottom-20px{
    padding-bottom: 20px
}

.padding-bottom-6px {
    padding-bottom: 6px;
}

.padding-horizontal-6px {
    padding: 0 6px;
}

/* Responsive rules CSS  */

@media (max-width:800px){
    .responsive-signup-text{
    display: block;
    }

    .navbar-container {
    display: none;
    }
}

@media (max-width:400px){
    .width-380px {
        width: 90%;
        min-width: 380px;
    }
}