/* CCS reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font: 400
}

a {
    color: #333;
    text-decoration: none;
  }

  /* Debug */

.debug{
    border: 1px solid #000;
}

.main-container {
    
}